In [138]:
import pandas as pd

#ok, from the top....
fileLocation = "../Resources/HeroesofPymoli/RawData.json"
print("found file")

found file

In [139]:
'''
Player Count
    Total Number of Players

Purchasing Analysis (Total)
    Number of Unique Items
    Average Purchase Price
    Total Number of Purchases
    Total Revenue
    
Gender Demographics
    Percentage and Count of Male Players
    Percentage and Count of Female Players
    Percentage and Count of Other / Non-Disclosed

Purchasing Analysis (Gender)
    The below each broken by gender
    Purchase Count
    Average Purchase Price
    Total Purchase Value
    Normalized Totals

Age Demographics
    The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
    Purchase Count
    Average Purchase Price
    Total Purchase Value
    Normalized Totals

Top Spenders
    Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
    SN
    Purchase Count
    Average Purchase Price
    Total Purchase Value

Most Popular Items
    Identify the 5 most popular items by purchase count, then list (in a table):
    Item ID
    Item Name
    Purchase Count
    Item Price
    Total Purchase Value

Most Profitable Items
    Identify the 5 most profitable items by total purchase value, then list (in a table):
    Item ID
    Item Name
    Purchase Count
    Item Price
    Total Purchase Value'''

'\nPlayer Count\n    Total Number of Players\n\nPurchasing Analysis (Total)\n    Number of Unique Items\n    Average Purchase Price\n    Total Number of Purchases\n    Total Revenue\n    \nGender Demographics\n    Percentage and Count of Male Players\n    Percentage and Count of Female Players\n    Percentage and Count of Other / Non-Disclosed\n\nPurchasing Analysis (Gender)\n    The below each broken by gender\n    Purchase Count\n    Average Purchase Price\n    Total Purchase Value\n    Normalized Totals\n\nAge Demographics\n    The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)\n    Purchase Count\n    Average Purchase Price\n    Total Purchase Value\n    Normalized Totals\n\nTop Spenders\n    Identify the the top 5 spenders in the game by total purchase value, then list (in a table):\n    SN\n    Purchase Count\n    Average Purchase Price\n    Total Purchase Value\n\nMost Popular Items\n    Identify the 5 most popular items by purchase count, then list (in a table):\n    Item ID\n    Item Name\n    Purchase Count\n    Item Price\n    Total Purchase Value\n\nMost Profitable Items\n    Identify the 5 most profitable items by total purchase value, then list (in a table):\n    Item ID\n    Item Name\n    Purchase Count\n    Item Price\n    Total Purchase Value'

In [140]:
#wtf is json? Looks like a list of dictionaries, let's just roll with it

pymoli = pd.read_json(fileLocation)
print("can read it")
#pymoli.head()

can read it

In [141]:
print("Observations on Pymoli Data\n")
print("1. The average player spent just under $4. Our “whales” averaged over $13. While bringing in more players is important- a heavier focus should be on increasing spending among existing players."\n)
print("2. Older players, 36-43, typically spent the most as individuals, though make up a very small number of players. Focusing on bring in these older players, along with their expendable income, may have greater impact that bringing in younger players who spend less."\n)
print("3. 'Final Critic' was the most popular, but also our most expensive item available. Why? Good in game stats? Does it look frickin’ sick? Figure out what’s going on there and do more of it. That item is a gold mine.")

In [142]:
#calc our player count. Actually kinda underwhelming how easy this one was....
playerCount = pymoli["SN"].nunique()
print("Pymoli has " + str(playerCount) + " players.")

Pymoli has 573 players.

In [146]:
'''Purchasing Analysis (Total)
    Number of Unique Items
    Average Purchase Price
    Total Number of Purchases
    Total Revenue'''

uniqueItems = pymoli["Item ID"].nunique()
print("There are " + str(uniqueItems) + " unique items.")
averagePurchasePrice = pymoli["Price"].mean()
print("The average purchase costs $" + str(averagePurchasePrice) + ".")
totalPurchases = len(pymoli)
print("There have been " + str(totalPurchases) + " total purchases.")
totalRevenue = pymoli["Price"].sum()
print("Pymoli has made a total of $" + str(totalRevenue) + ".")

There are 183 unique items.
The average purchase costs $2.931192307692303.
There have been 780 total purchases.
Pymoli has made a total of $2286.33.

In [8]:
'''Gender Demographics
    Percentage and Count of Male Players
    Percentage and Count of Female Players
    Percentage and Count of Other / Non-Disclosed'''

uniqueUsers = pymoli.drop_duplicates("SN")
len(uniqueUsers)
genderSplit = uniqueUsers.groupby("Gender")
genderCount = genderSplit.count()
totalMale = genderCount["SN"]["Male"]
totalFemale = genderCount["SN"]["Female"]
totalNon = len(uniqueUsers)-totalMale-totalFemale

print("There are " + str(totalMale) + " male users (" + str(100*totalMale/len(uniqueUsers)) +"%)")
print("There are " + str(totalFemale) + " female users (" + str(100*totalFemale/len(uniqueUsers)) +"%)")
print("There are " + str(totalNon) + " users who defied binary classification (" + str(100*totalNon/len(uniqueUsers)) +"%)")

There are 465 male users (81.15183246073299%)
There are 100 female users (17.452006980802793%)
There are 8 users who defied binary classification (1.3961605584642234%)

In [149]:
'''Purchasing Analysis (Gender)
    The below each broken by gender
    Purchase Count
    Average Purchase Price
    Total Purchase Value
    Normalized Totals'''

genderPurchases = pymoli.groupby("Gender")
genderAnalysis = genderPurchases.count()
purchaseCountMale = genderAnalysis["Price"][("Male")]
purchaseCountFemale = genderAnalysis["Price"][("Female")]
purchaseCountNon = len(pymoli)-purchaseCountMale - purchaseCountFemale
print("\nPurchase Count Breakdown by Gender")
print("Male users made " + str(purchaseCountMale) + " purchases.")
print("Female users made " + str(purchaseCountFemale) + " purchases.")
print("Other users made " + str(purchaseCountNon) + " purchases.")

#AveragePurchasePrice
genderMean = genderPurchases["Price"].mean()
print("\nAverage Price Breakdown by Gender")
print("Purchases by male users averaged $" + str(genderMean["Male"]) + ".")
print("Purchases by female users averaged $" + str(genderMean["Female"]) + ".")
print("Purchases by other users averaged $" + str(genderMean["Other / Non-Disclosed"]) + ".")

#Total Purchase Value
print("\nTotal Purchase Breakdown by Gender")
genderSums = genderPurchases["Price"].sum()
#print(genderSums)
#print(genderSums["Male"])
#print(genderSums["Female"])
#print(genderSums["Other / Non-Disclosed"])
print("Purchases by male users totaled $" + str(genderSums["Male"]) + ".")
print("Purchases by female users totaled $" + str(genderSums["Female"]) + ".")
print("Purchases by other users totaled $" + str(genderSums["Other / Non-Disclosed"]) + ".")

#Normalized Values
print("\nNormalized Purchase Breakdown by Gender")
normMaleCalc = genderSums["Male"]/totalMale
normFemaleCalc = genderSums["Female"]/totalFemale
normNonCalc = genderSums["Other / Non-Disclosed"]/totalNon
print("Male users spent a noramlized $" + str(normMaleCalc) + ".")
print("Female users spent a normalized $" + str(normFemaleCalc) + ".")
print("Other users spent a normalized $" + str(normFemaleCalc) + ".")

Purchase Count Breakdown by Gender
Male users made 633 purchases.
Female users made 136 purchases.
Other users made 11 purchases.

Average Price Breakdown by Gender
Purchases by male users averaged $2.9505213270142154.
Purchases by female users averaged $2.815514705882352.
Purchases by other users averaged $3.2490909090909086.

Total Purchase Breakdown by Gender
Purchases by male users totaled $1867.6799999999985.
Purchases by female users totaled $382.90999999999985.
Purchases by other users totaled $35.739999999999995.

Normalized Purchase Breakdown by Gender
Male users spent a noramlized $4.016516129032254.
Female users spent a normalized $3.8290999999999986.
Other users spent a normalized $3.8290999999999986.

In [150]:
'''Age Demographics
    The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
    Purchase Count
    Average Purchase Price
    Total Purchase Value
    Normalized Totals'''

#Let's do some binning

bins = [0, 10, 14, 19, 23, 27, 31, 35, 39, 43, 47, 51, 55, 59, 63, 100]
binLabels = ["0-10", "11-14", "15-19", "19-23", "24-27", "28-31", "32-35", "36-39", "40-43", "44-47", "48-51", "52-55", "56-59", "60-63", "64+"]
pymoli["AgeBins"] = pd.cut(pymoli["Age"], bins, labels=binLabels)
agePurchases = pymoli.groupby("AgeBins")
agePurchases.count()

         Age  Gender  Item ID  Item Name  Price   SN
AgeBins
0-10      32      32       32         32     32   32
11-14     31      31       31         31     31   31
15-19    133     133      133        133    133  133
19-23    266     266      266        266    266  266
24-27    169     169      169        169    169  169
28-31     60      60       60         60     60   60
32-35     42      42       42         42     42   42
36-39     30      30       30         30     30   30
40-43     16      16       16         16     16   16
44-47      1       1        1          1      1    1
48-51      0       0        0          0      0    0
52-55      0       0        0          0      0    0
56-59      0       0        0          0      0    0
60-63      0       0        0          0      0    0
64+        0       0        0          0      0    0

In [151]:
print("\nPurchase Count Breakdown by Age")
ageCount = agePurchases["Item ID"].count()
for label in binLabels:
    print("Users in the " + str(label) + " age group made " + str(ageCount.loc[label]) + " purchases.")
print("\n")

'''    
print("\n")
ageSum = agePurchases["Price"].sum()
for label in binLabels:
    print("Users in the " + str(label) + " age group made total purchases of $" + str(ageSum.loc[label]) + ".")
    
print("\n")
ageUnique = agePurchases["SN"].nunique()
for label in binLabels:
    print("Users in the " + str(label) + " age group made normalized purchases of $" + str(ageSum.loc[label]/ageUnique.loc[label]) + ".")'''

Purchase Count Breakdown by Age
Users in the 0-10 age group made 32 purchases.
Users in the 11-14 age group made 31 purchases.
Users in the 15-19 age group made 133 purchases.
Users in the 19-23 age group made 266 purchases.
Users in the 24-27 age group made 169 purchases.
Users in the 28-31 age group made 60 purchases.
Users in the 32-35 age group made 42 purchases.
Users in the 36-39 age group made 30 purchases.
Users in the 40-43 age group made 16 purchases.
Users in the 44-47 age group made 1 purchases.
Users in the 48-51 age group made 0 purchases.
Users in the 52-55 age group made 0 purchases.
Users in the 56-59 age group made 0 purchases.
Users in the 60-63 age group made 0 purchases.
Users in the 64+ age group made 0 purchases.

'    \nprint("\n")\nageSum = agePurchases["Price"].sum()\nfor label in binLabels:\n    print("Users in the " + str(label) + " age group made total purchases of $" + str(ageSum.loc[label]) + ".")\n    \nprint("\n")\nageUnique = agePurchases["SN"].nunique()\nfor label in binLabels:\n    print("Users in the " + str(label) + " age group made normalized purchases of $" + str(ageSum.loc[label]/ageUnique.loc[label]) + ".")'

In [152]:
print("\nAverage Price Breakdown by Age")
ageMean = agePurchases["Price"].mean()
for label in binLabels:
    print("Users in the " + str(label) + " age group made average purchases of $" + str(ageMean.loc[label]) + ".")

Average Price Breakdown by Age
Users in the 0-10 age group made average purchases of $3.0193749999999993.
Users in the 11-14 age group made average purchases of $2.7029032258064514.
Users in the 15-19 age group made average purchases of $2.905413533834586.
Users in the 19-23 age group made average purchases of $2.8771052631578953.
Users in the 24-27 age group made average purchases of $3.0178698224852085.
Users in the 28-31 age group made average purchases of $2.956666666666666.
Users in the 32-35 age group made average purchases of $3.11047619047619.
Users in the 36-39 age group made average purchases of $2.746000000000001.
Users in the 40-43 age group made average purchases of $3.189375.
Users in the 44-47 age group made average purchases of $2.7199999999999998.
Users in the 48-51 age group made average purchases of $nan.
Users in the 52-55 age group made average purchases of $nan.
Users in the 56-59 age group made average purchases of $nan.
Users in the 60-63 age group made average purchases of $nan.
Users in the 64+ age group made average purchases of $nan.

In [39]:
print("\n")
ageSum = agePurchases["Price"].sum()
for label in binLabels:
    print("Users in the " + str(label) + " age group made total purchases of $" + str(ageSum.loc[label]) + ".")

Users in the 0-10 age group made total purchases of $96.61999999999998.
Users in the 11-14 age group made total purchases of $83.78999999999999.
Users in the 15-19 age group made total purchases of $386.41999999999996.
Users in the 19-23 age group made total purchases of $765.3100000000002.
Users in the 24-27 age group made total purchases of $510.0200000000002.
Users in the 28-31 age group made total purchases of $177.39999999999998.
Users in the 32-35 age group made total purchases of $130.64.
Users in the 36-39 age group made total purchases of $82.38000000000002.
Users in the 40-43 age group made total purchases of $51.03.
Users in the 44-47 age group made total purchases of $2.7199999999999998.
Users in the 48-51 age group made total purchases of $0.0.
Users in the 52-55 age group made total purchases of $0.0.
Users in the 56-59 age group made total purchases of $0.0.
Users in the 60-63 age group made total purchases of $0.0.
Users in the 64+ age group made total purchases of $0.0.

In [153]:
print("\nNormalized Purchase Breakdown by Age")
ageUnique = agePurchases["SN"].nunique()
for label in binLabels:
    print("Users in the " + str(label) + " age group made normalized purchases of $" + str(ageSum.loc[label]/ageUnique.loc[label]) + ".")

Normalized Purchase Breakdown by Age
Users in the 0-10 age group made normalized purchases of $4.391818181818181.
Users in the 11-14 age group made normalized purchases of $4.1895.
Users in the 15-19 age group made normalized purchases of $3.8641999999999994.
Users in the 19-23 age group made normalized purchases of $3.6617703349282307.
Users in the 24-27 age group made normalized purchases of $4.215041322314051.
Users in the 28-31 age group made normalized purchases of $4.5487179487179485.
Users in the 32-35 age group made normalized purchases of $3.84235294117647.
Users in the 36-39 age group made normalized purchases of $4.845882352941178.
Users in the 40-43 age group made normalized purchases of $5.103.
Users in the 44-47 age group made normalized purchases of $2.7199999999999998.
Users in the 48-51 age group made normalized purchases of $nan.
Users in the 52-55 age group made normalized purchases of $nan.
Users in the 56-59 age group made normalized purchases of $nan.
Users in the 60-63 age group made normalized purchases of $nan.
Users in the 64+ age group made normalized purchases of $nan.

C:\Users\thoma\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in double_scalars
  after removing the cwd from sys.path.

In [154]:
'''Top Spenders
    Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
    SN
    Purchase Count
    Average Purchase Price
    Total Purchase Value
    
    example sort: df.sort(['A', 'B'], ascending=[1, 0])'''

#This figures out who the top 5 spenders are
spenders = pymoli.groupby("SN")
spendersPrice = spenders.sum()
spenderPrice = spendersPrice.sort_values("Price", ascending = False)
orderedSpenders = spenderPrice.index.values
#orderedSpenders 0-4 are our big spenders. We can use them as an index elsewhere.
print("The 5 biggest spenders were " + orderedSpenders[0] + ", " + orderedSpenders[1] + ", "  + orderedSpenders[2] + ", "  + orderedSpenders[3] + ", and "  + orderedSpenders[4] + ".\n")

#we need to make a table, which will be a dictionary of lists. So we need 4 lists
#list 1
top5List = [orderedSpenders[0], orderedSpenders[1], orderedSpenders[2], orderedSpenders[3], orderedSpenders[4]]
#list 2
purchaseCountList = []
#list 3
averagePriceList = []
#list 4
totalPriceList = []

spendersIndex_df = pymoli.set_index("SN")

x=0
while x < 5:
    purchaseCountList.append((len(spendersIndex_df.loc[orderedSpenders[x]])))
    averagePriceList.append(spendersIndex_df.loc[orderedSpenders[x],"Price"].mean())
    totalPriceList.append(spendersIndex_df.loc[orderedSpenders[x],"Price"].sum())
    x=x+1
#print(purchaseCountList)
#print(averagePriceList)
#print(totalPriceList)
topSpender_df = pd.DataFrame({"SN":top5List, "Purchase Count" : purchaseCountList, "Average Spent":averagePriceList, "Total Spent":totalPriceList})
topSpender_df = topSpender_df.set_index("SN")
topSpender_df

The 5 biggest spenders were Undirrala66, Saedue76, Mindimnya67, Haellysu29, and Eoda93.

             Average Spent  Purchase Count  Total Spent
SN
Undirrala66       3.412000               5        17.06
Saedue76          3.390000               4        13.56
Mindimnya67       3.185000               4        12.74
Haellysu29        4.243333               3        12.73
Eoda93            3.860000               3        11.58

In [155]:
'''Most Popular Items
    Identify the 5 most popular items by purchase count, then list (in a table):
    Item ID
    Item Name
    Purchase Count
    Item Price
    Total Purchase Value'''

#This figures out what the 5 most popular items are
indexItems = pymoli.groupby("Item Name")
popItems = indexItems.count()
popItems = popItems.sort_values("Price", ascending = False)
orderedPopItems = popItems.index.values
#orderedSpenders 0-4 are our big spenders. We can use them as an index elsewhere.
print("The 5 most popular items were were " + orderedPopItems[0] + ", " + orderedPopItems[1] + ", "  + orderedPopItems[2] + " (that's actually all one item), "  + orderedPopItems[3] + ", and "  + orderedPopItems[4] + ".\n")

#we need to make a table, which will be a dictionary of lists. So we need 5 lists
#list 1
top5ItemsList = [orderedPopItems[0], orderedPopItems[1], orderedPopItems[2], orderedPopItems[3], orderedPopItems[4]]
#list 2
itemIdList = []
#list 3
itemCountList = []
#list 4
itemPriceList = []
#list 5
itemTotalPriceList = []

popItemIndex_df = pymoli.set_index("Item Name")

x=0
while x < 5:
    specificItem_df = popItemIndex_df.loc[orderedPopItems[x],["Item ID", "Price"]]
    #print(specificItem_df)
    itemIdList.append(specificItem_df.iloc[0, 0])
    itemCountList.append(len(specificItem_df))
    itemPriceList.append(specificItem_df.iloc[0, 1])
    specificTotal = specificItem_df.sum()
    #print(specificTotal)
    itemTotalPriceList.append(specificTotal["Price"])
    #print(itemTotalPriceList)
    x=x+1
#print(itemIdList)
#print(itemCountList)
#print(itemPriceList)
popItems_df = pd.DataFrame({"Item Name":top5ItemsList, "Item ID" : itemIdList, "Purchase Count":itemCountList, "Item Price":itemPriceList, "Total Purchase Price":itemTotalPriceList})
popItems_df = popItems_df.set_index("Item Name")
popItems_df

The 5 most popular items were were Final Critic, Arcane Gem, Betrayal, Whisper of Grieving Widows (that's actually all one item), Stormcaller, and Woeful Adamantite Claymore.

,Item ID,Item Price,Purchase Count,Total Purchase Price
Item Name,,,,
Final Critic,92.0,1.36,14,38.60
Arcane Gem,84.0,2.23,11,24.53
"Betrayal, Whisper of Grieving Widows",39.0,2.35,11,25.85
Stormcaller,30.0,4.15,10,34.65
Woeful Adamantite Claymore,175.0,1.24,9,11.16

In [156]:
'''
Most Profitable Items
    Identify the 5 most profitable items by total purchase value, then list (in a table):
    Item ID
    Item Name
    Purchase Count
    Item Price
    Total Purchase Value'''

#This figures out what the 5 priciest items are
#indexItems = pymoli.groupby("Item Name")
priceyItems = indexItems.sum()
priceyItems = priceyItems.sort_values("Price", ascending = False)
#print(priceyItems)
orderedPriceyItems = priceyItems.index.values
#orderedPriceyItems 0-4 are our priciest items. We can use them as an index elsewhere.
print("The 5 priciest items are " + orderedPriceyItems[0] + ", " + orderedPriceyItems[1] + ", "  + orderedPriceyItems[2] + " (that's actually all one item), "  + orderedPriceyItems[3] + ", and "  + orderedPriceyItems[4] + ".\n")
#we need to make a table, which will be a dictionary of lists. So we need 5 lists
#list 1
pricey5ItemsList = [orderedPriceyItems[0], orderedPriceyItems[1], orderedPriceyItems[2], orderedPriceyItems[3], orderedPriceyItems[4]]
#list 2
priceyIdList = []
#list 3
priceyCountList = []
#list 4
priceyPriceList = []
#list 5
priceyTotalPriceList = []

priceyItemIndex_df = pymoli.set_index("Item Name")

x=0
while x < 5:
    specificItem_df = priceyItemIndex_df.loc[orderedPriceyItems[x],["Item ID", "Price"]]
    #print(specificItem_df)
    priceyIdList.append(specificItem_df.iloc[0, 0])
    priceyCountList.append(len(specificItem_df))
    priceyPriceList.append(specificItem_df.iloc[0, 1])
    specificTotal = specificItem_df.sum()
    #print(specificTotal)
    priceyTotalPriceList.append(specificTotal["Price"])
    #print(itemTotalPriceList)
    x=x+1
#print(itemIdList)
#print(itemCountList)
#print(itemPriceList)
popItems_df = pd.DataFrame({"Item Name":pricey5ItemsList, "Item ID" : priceyIdList, "Purchase Count":priceyCountList, "Item Price":priceyPriceList, "Total Purchase Price":priceyTotalPriceList})
popItems_df = popItems_df.set_index("Item Name")
popItems_df

The 5 priciest items are Final Critic, Retribution Axe, Stormcaller (that's actually all one item), Spectral Diamond Doomblade, and Orenmir.

,Item ID,Item Price,Purchase Count,Total Purchase Price
Item Name,,,,
Final Critic,92.0,1.36,14,38.60
Retribution Axe,34.0,4.14,9,37.26
Stormcaller,30.0,4.15,10,34.65
Spectral Diamond Doomblade,115.0,4.25,7,29.75
Orenmir,32.0,4.95,6,29.70